$blue: #109CF1;
$yellow: #FFB946;
$red: #F7685B;
$green: #2ED47A;
$purple: #885AF8;
$black: #192A3E;
$table-black: #323C47;
$table-gray: #707683;
$dark-blue: #334D6E;
$gray: #90A0B7;
$icon-gray: #C2CFE0;
$background:#f5f6f8;

