$blue: #109cf1;
$yellow: #ffb946;
$red: #f7685b;
$green: #2ed47a;
$purple: #885af8;
$black: #192a3e;
$table-black: #323c47;
$table-gray: #707683;
$dark-blue: #334d6e;
$gray: #90a0b7;
$icon-gray: #c2cfe0;
$background: rgb(241, 241, 255);
$sidebar: rgb(96, 92, 255);
