@import "../../variables.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 256px;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  &__top {
    padding: 0 30px 0 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    div {
      line-height: 60px;
      font-weight: 600;
      font-size: 28px;
    }
  }

  & * {
    transition: 0.3s ease-in-out;
    opacity: 1;
  }

  &--close {
    width: 68px;

    .sidebar__hide {
      opacity: 0;
      font-size: 0;
      position: absolute;
    }

    h1,
    .sidebar__avatar {
      margin-left: -11px;
    }
  }

  h1 {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $blue;
  }
  
  &__avatar {
    display: flex;
    margin-top: 24px;
    margin-bottom: 40px;
    align-items: center;

    .avatar--sidebar-profile img {
      border-radius: 50%;
    }
    .sidebar-logo {
      background-image: url("../../images/profile.svg");
    }
    &__info {
      max-width: 146px;
      padding-left: 16px;
      position: relative !important;
      p {
        white-space: normal;
        margin: 0;
      }
      .name {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $black;
        margin-bottom: 5px;
      }
      .email {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: $gray;
      }
    }
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 15px;

    a {
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.01em;
      text-decoration: none;
      color: $dark_blue;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding: 4px;
      border-radius: 10px;

      &.active {
        background-color: $primary-pink;
        
        .sidebar__links__icon {
          background-color: $primary-dark-pink;
        }

        span {
          color: black; 
        }
      }

      span {
        padding-left: 10px;
        color: $table-gray;
        font-size: 16px;
          font-weight: 600;
      }

      &:not(:last-child) {
        
      }
    }

    &__icon {
      display: flex;
      padding: 18px;
      border-radius: 10px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
    
  }
  &__footer {
    padding: 24px;
    flex-grow: 2;
    position: relative;

    & .toggleSidebar {
      cursor: pointer;
      position: absolute;
      left: 24px;
      bottom: 24px;
      font-weight: 500;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: $gray;

      & > span {
        cursor: pointer;
        vertical-align: middle;
      }
      &_icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: #c2cfe0;
        position: relative;
        border-radius: 2px;
        &:before {
          border-radius: 1px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          transition: 0.3s ease-in-out;
          outline: none;
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          width: 2px;
          height: 10px;
          left: 4px;
          bottom: 2px;
          right: auto;
          background: white;
        }
        &.active {
          background: $blue;
          &:before {
            left: 8px;
          }
        }
      }
      .toggleSidebar__text {
        padding-left: 14px;
      }
    }
  }
}
