@import "../variables.scss";

main {
  display: flex;
  padding: 15px;
  background: $primary-white;
}

.avatar {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;

  &.large {
    width: 46px;
    height: 46px;
  }
}

.select {
  select {
    background: none;
    border: none;
    color: $blue;
    outline: none;
  }
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}
.changeTaskIcon {
  vertical-align: middle;
  margin-left: 8px;
  cursor: pointer;
  &__active {
    display: inline-block;
    border: 2px solid $yellow;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
  &__completed {
    display: inline-block;
    border: 2px solid $green;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
  &__ended {
    display: inline-block;
    border: 2px solid $red;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
  &__edit {
    display: inline-block;
    background-image: url("../images/todo_edit.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-left: 12px;
  }
  &__delete {
    display: inline-block;
    background-image: url("../images/todo_delete.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}
.actionButton {
  display: inline-block;
  &__button {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
    background: $blue;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
    padding: 11px 34px;
    cursor: pointer;
    display: inline-block;
  }
}
.main {
  flex-grow: 1;
  z-index: 1;
}
.search {
  display: flex;
  position: relative;
  background-color: white;
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ebeff2;
    padding: 21px 68px;
    display: block;
    flex-grow: 1;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: $gray;
    background: url("../images/search.svg") 36px 20px no-repeat;
  }
}

.progress-bar {
  margin-bottom: 20px;
  progress {
    height: 4px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    vertical-align: top;
    &::-webkit-progress-value {
      background-color: $green;
      border-radius: 3px;
    }
    &::-webkit-progress-bar {
      background: #ebeff2;
    }
  }
}
.date_carousel {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;

  &__item {
    cursor: pointer;
    text-align: center;
    &--active &__num_date {
      span {
        background-color: $blue;
        border-radius: 50%;
        color: white;
        padding: 2px 0px;
      }
    }
    &__str_date {
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      color: $dark_blue;
      opacity: 0.5;
      margin-bottom: 5px;
    }
    &__num_date span {
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #4c5862;
      width: 25px;
      display: block;
    }
    &--today &__num_date,
    &--today &__str_date {
      color: $blue;
      opacity: 1;
    }
  }
}
.diagramm {
  position: absolute;
  left: -23px;
  top: -10px;
  display: flex;
  align-items: center;
  &__red {
    fill: $red !important;
    stroke: none !important;
  }
  &__green {
    fill: $green !important;
    stroke: none !important;
  }
  &__yellow {
    fill: $yellow !important;
    stroke: none !important;
  }
  &__arc {
    position: relative;
    &__percent {
      color: $green;
      position: absolute;
      font-weight: 500;
      font-size: 56px;
      line-height: 84px;
      top: 90px;
      left: 75px;
      text-align: center;
      width: 180px;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    animation: none;
    font-size: 10px;
    line-height: 15px;

    li {
      margin-bottom: 12px;
      span {
        vertical-align: middle;
        margin-left: 8px;
      }
    }
  }
}
.task_card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;

  &:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
  }
  &:hover &__status__action {
    display: block;
  }

  &:last-child {
    margin-bottom: 15px;
  }
  &__type {
    float: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: $gray;
  }
  &__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: $table-black;
    margin-bottom: 7px;
  }
  &__date {
    font-size: 13px;
    line-height: 19px;
    color: $table-gray;
    margin-bottom: 20px;
    & span:first-child {
      opacity: 0.5;
      margin-right: 5px;
    }
    &--date {
      opacity: 1;
    }
  }
  &__status {
    float: right;
    display: flex;
    &__action {
      display: none;
    }

    &__current_status {
      span {
        width: 84px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 3px 0px;
        color: white;
        border-radius: 4px;
        margin-left: 12px;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
      &--active span {
        background-color: $yellow;
      }
      &--completed span {
        background-color: $green;
      }
      &--ended span {
        background-color: $red;
      }
    }
  }
}
.recipient {
  & .avatar,
  & span {
    vertical-align: middle;
  }
  & .avatar {
    border-radius: 50%;
    margin-right: 12px;
  }
  & span {
    font-size: 13px;
    line-height: 19px;
    color: $table-gray;
  }
}
